.element__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-self: center;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 21px;
}