.popup__close {
  background-image: url("../../../images/close_icon.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  left: 425px;
  top: -37.25px;
  box-shadow: none;
  border: none;
  background-color: black;
  background-position: center;
  border-radius: 10px;
}
@media screen and (max-width: 880px) {
  .popup__close {
    height: 26px;
    width: 26px;
    left: 260px;
  }  
}
.popup__close:hover {
  cursor: pointer;
  opacity: 0.5;
}