.profile__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  font-weight: 500;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 42px;
  line-height: 48px;
}
@media screen and (max-width: 880px) {
  .profile__name {
    font-size: 27px;
    line-height: 32.68px;
  }  
}
