.profile__button-add {
  height: 50px;
  width: 150px;
  border: 2px solid #ffffff;    
  box-sizing: border-box;
  background-image: url("../../../images/add-btn.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 35px;
  background-color: #000000;
  border-radius: 2px;
}
.profile__button-add:hover {
  opacity: 0.5;
  cursor: pointer;
}
.profile__button-add:focus {outline:0;}

@media screen and (max-width: 880px) {
  .profile__button-add {
    margin: auto;
    width: 100%;
    background-size: 16px;
  }
}