.element__button-like {
  align-self: center;
  background-image: url("../../../images/heart-btn_vector.svg");
  background-repeat: no-repeat;
  box-shadow: none;
  border: none;
  background-color: #ffffff;
  height: 18.13px;
  width: 20.76px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.element__button-like:focus {outline:0;}
.element__button-like:hover {
  cursor: pointer;
  opacity: 0.5;
}